.App {
    text-align: center;
    /*border: solid greenyellow 1px;*/
}

.container {
    border: solid darkseagreen 1px;
    /*width: 100%;*/
    background: #fff;
    margin-top: 5%;
    padding: 10px;
}

.App-logo {
    /*height: 5vmin;*/
    /*width: 5vmin;*/
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
